* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #333130;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    border: #333130 3px solid;
    background: #9c8e8a;
    overflow: hidden;
}

.board {
    display: grid;
    grid-template: repeat(3, 80px) / repeat(3, 80px);
    width: 240px;
    height: 240px;
}

.slot {
    margin: 5px;
    border: #272625 2px solid;
}