/* - - - - - CORES - - - - - */
:root {
    --fundoescuro: #211d1b;
    --fundomedio: #40332b;
    --fundoclaro: #694f3f;
    --divs: #deae57;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fundoescuro);
}
p, h1, button{
    font-family: "Roboto", sans-serif;
}


/* EVITE USAR VW PARA DEFINIR TAMANHO DE HEIGHT... height se define com VH */
/* tudo que é medido na vertical se usa VH, e tudo que for medido na horizontal é VW */


/* - - - - - MENU - - - - - */

#menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: var(--fundomedio);
    z-index: 50;
    transition: 0.7s top;
}
#menu h1{
    font-size: 8vw;
    -webkit-text-stroke: 0.3vw var(--fundoescuro);
    color: white;
    animation: menu-items-animation 6s ease-in-out infinite;
}
#menu div button {
    width: 14vw;
    height: 7vw;
    background-color: var(--divs);
    border: var(--fundoescuro) 0.3vw solid;
    border-radius: 7vw;
    margin: 0 2vw;
    font-weight: 500;
    font-size: 1.6vw;
    animation: menu-items-animation 6s ease-in-out infinite;
}
#menu div button:hover {
    scale: 1.1;
    background-color: #fff;
    border-color: var(--divs);
    -webkit-text-stroke: 0.1vw var(--fundoescuro);
    color: white;
    font-size: 1.8vw;
    font-weight: 900;
}
@keyframes menu-items-animation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3vw);
    }
    100% {
        transform: translateY(0);
    }
}



/* - - - - - JOGO - - - - - */

.game {
    position:fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    background-color: var(--fundoclaro);
    overflow: hidden;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 24vw;
    height: 24vw;
}

.line {
    position: relative;
    display: flex;
    flex-direction: row;
}
.line.right {
    flex-direction: row-reverse;
}

.slot {
    background-color: transparent;
    width: 7vw;
    height: 7vw;
    margin: 0.5vw;
    border: var(--fundoescuro) 0.2vw solid;
}
.slot:hover {
    scale: 1.05;
}
.slot img {
    margin: 0.2vw;
    max-width: 6.2vw;
}

.left .selectIcon {
    display: none;
    position: absolute;
    left: -8vw;
    width: 7vw;
    height: 7vw;
    animation: selecticon-animation-left 1s ease-in-out alternate infinite;
}
.right .selectIcon {
    display: none;
    position: absolute;
    left: 25vw;
    width: 7vw;
    height: 7vw;
    transform: scaleX(-1);
    animation: selecticon-animation-right 1s ease-in-out alternate infinite;
}
.line:hover .selectIcon {
    display: block;
}
@keyframes selecticon-animation-left {
    from {
        left: -8vw;
    }
    to {
        left: -10vw;
    }
}
@keyframes selecticon-animation-right {
    from {
        left: 25vw;
    }
    to {
        left: 27vw;
    }
}



/* - - - - - PAINEL - - - - - */

#panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 30vw;
    background-color: var(--fundomedio);
    border-radius: 2vw;
}

#rollButton {
    background-color: var(--divs);
    width: 10vw;
    height: 10vw;
    border: var(--fundoescuro) 0.15vw solid;
    border-radius: 1.4vw;
    font-weight: bold;
    font-size: 2vw;
    transform: rotate(0);
    transition: transform 1.5s;
}
#rollButton:hover{
    scale: 1.2;
    border-color: #fff;
}
#result {
    display: none;
    background-color: var(--divs);
    width: 10vw;
    height: 10vw;
    border-radius: 1.4vw;
}