@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #363331;
}
p, h1, button{
    font-family: "Roboto", sans-serif;
}



/* - - - - - MENU - - - - - */

#menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #696361;
    z-index: 50;
    transition: 0.7s top;
}
#menu h1{
    font-size: 8vw;
    -webkit-text-stroke: 0.3vw black;
    color: white;
    animation: menu-items-animation 6s ease-in-out infinite;
}
#menu div button {
    width: 14vw;
    height: 7vw;
    background-color: #eee7b6;
    border: #272625 0.3vw solid;
    border-radius: 7vw;
    margin: 0 2vw;
    font-weight: 500;
    font-size: 1.6vw;
    animation: menu-items-animation 6s ease-in-out infinite;
}
#menu div button:hover {
    scale: 1.1;
    background-color: #fff;
    border-color: #eee7b6;
    -webkit-text-stroke: 0.1vw black;
    color: white;
    font-size: 1.8vw;
    font-weight: 900;
}

/* 

MH: Utilizar o Margin para animar pode ser perigoso, 
com poucos elementos em tela ele funciona bem, porem com muitos elementos ele 
pode se tornar um problema, procure sobre as propriedades do "transform"...

RV: Assim? 

*/
@keyframes menu-items-animation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3vw);
    }
    100% {
        transform: translateY(0);
    }
}



/* - - - - - JOGO - - - - - */

.game {
    position:fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    background-color: #9c8e8a;
    overflow: hidden;
}

.board {
    display: grid;
    grid-template: repeat(3, 8vw) / repeat(3, 8vw);
    width: 24vw;
    height: 24vw;
}

.slot {
    background-color: transparent;
    max-width: 7vw;
    max-height: 7vw;
    margin: 0.5vw;
    border: #272625 0.2vw solid;
}
.slot:hover {
    scale: 1.1;
}
.slot img {
    margin: 0.2vw;
    max-width: 6.2vw;
}



/* - - - - - PAINEL - - - - - */

#panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 30vw;
    background-color: #696361;
    border-radius: 2vw;
}

#rollButton {
    background-color: #eee7b6;
    width: 10vw;
    height: 10vw;
    border: #272625 0.15vw solid;
    border-radius: 1.4vw;
    font-weight: bold;
    font-size: 2vw;
    transform: rotate(0);
    transition: transform 2s;
}
#rollButton:hover{
    scale: 1.2;
    border-color: #fff;
    /* animation: rollButtonRotation 1.5s ease-in-out infinite paused; */
}
/* @keyframes rollButtonRotation {
    from{
        transform: rotate(0);
    }
    to {
        transform: rotate(720deg);
    }
} */
#result {
    display: none;
    background-color: #eee7b6;
    width: 10vw;
    height: 10vw;
    border-radius: 1.4vw;
}